/node_modules
/Frontend/public/hot
/Frontend/public/storage
/Backend/public/hot
/Backend/public/storage
/Frontend/storage/*.key
/Backend/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Frontend/.env
Backend/.env
/*.result.cache
/composer.phar
/Frontend/storage/
/Backend/storage/
/Backend/bootstrap/cache/
/Frontend/bootstrap/cache/
